{% extends 'adminbase.html.twig' %}

{% block title %} {{ article.id }}{% endblock %}

{% block body %}
    <section>
        <div class="w-10/12  mx-auto">
            <div class="my-5  proportion">
{#                article#}
                <div class="bg-white px-3 h-max">
                    <!-- title -->
                    <div class="border-b py-5 border-gray-300">
                        <h3 class="my-5 text-2xl font-bold ">{{ article.title }}</h3>
                        <p class="text-gray-300 text-sm">
                            <span class="mr-5"><i class="fa fa-user mr-1 text-pink-700"></i>{{ article.user.pseudo }}</span>
                            <span><i class="fas fa-clock mr-1 text-pink-700"></i> {{ article.createdAt | date('d M Y') }}</span>
                        </p>
                    </div>
                    <!-- responsive ad -->
                    <div class="my-5">
                        <div class="h-28 flex justify-center items-center bg-gray-200">
                            <p class="text-gray-500">responsive advertisement</p>
                        </div>
                    </div>
                    <!-- article detail -->
                    <div class="">
                        <!-- image -->
                        <div class="h-64 my-5">
                            {% if article.img %}
                                <img class="h-full w-full object-cover" src="{{ asset('/images/articles/') }}{{ article.img }}" alt="">
                            {% endif %}
                        </div>
                        <div class="text-gray-500">
                            <p>{{ article.content }}</p>
                        </div>
                        <!-- responsive ad -->
                        <div class="my-5">
                            <div class="h-28 flex justify-center items-center bg-gray-200">
                                <p class="text-gray-500">responsive advertisement</p>
                            </div>
                        </div>
                        <div class="my-5">
                            <ul class="text-white flex">
                                <li ><span class="bg-blue-800 py-1 px-2"><i class="fab fa-facebook-f"></i></span></li>
                                <li><span class="bg-blue-400 py-1 px-2 mx-2"><i class="fab fa-twitter"></i></span></li>
                                <li><span class="bg-red-700 py-1 px-2"><i class="fab fa-pinterest"></i></span></li>
                                <li><span class="bg-blue-600 py-1 px-2 mx-2"><i class="fab fa-linkedin-in"></i></span></li>
                                <li><span class="bg-green-600 py-1 px-2"><i class="fab fa-whatsapp"></i></span></li>
                                <li><span class="bg-gray-500 py-1 px-2 mx-2"><i class="far fa-envelope"></i></span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="">
                        <div class="bg-gray-200 p-2">
                            <h3 class="text-xl font-bold">You May Like This Post</h3>
                        </div>
                        <div class="grid gap-3 md:grid-cols-3 my-5  ">
                            {% for article in articles %}
                                <div class="py-2 bg-white">
                                    <div class="flex md:block ">
                                        <div class=" h-20 w-1/4 md:h-40 md:w-full ">
                                            {% if article.file %}
                                                <img class="h-full w-full object-cover" src="{{ asset('images/articles/') }}{{ article.file }}" alt="">
                                            {% endif %}
                                        </div>
                                        <div class="bg-white ml-2 md:ml-0 ">
                                            <p class="font-bold"><a href="{{ path('article_show',{'id' : article.id}) }}">{{ article.title }}</a></p>
                                            <p class="text-gray-400 text-sm"><i class="far fa-clock mr-1 text-pink-700"></i>{{ article.createdAt | date('d M Y') }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- aside -->
                <div class="">
                    <div class="py-2 px-4 bg-white">
                        <h3 class="text-xl font-semibold py-2">Social Plugin</h3>
                        <div class="grid grid-cols-2 gap-2">
                            <div class="bg-blue-900 text-white">
                                <div class="flex">
                                    <div class="h-10 w-10 bg-blue-800 flex justify-center items-center">
                                        <i class="fab fa-facebook-f"></i>
                                    </div>
                                    <p class="flex justify-center items-center ml-2 font-bold">Facebook</p>
                                </div>
                            </div>
                            <div class="bg-blue-400 text-white">
                                <div class="flex">
                                    <div class="h-10 w-10 bg-blue-300 flex justify-center items-center">
                                        <i class="fab fa-twitter"></i>
                                    </div>
                                    <p class="flex justify-center items-center ml-2 font-bold">Twitter</p>
                                </div>
                            </div>
                            <div class="bg-yellow-500 text-white">
                                <div class="flex">
                                    <div class="h-10 w-10 bg-yellow-400 flex justify-center items-center">
                                        <i class="fas fa-rss"></i>
                                    </div>
                                    <p class="flex justify-center items-center ml-2 font-bold">Rss</p>
                                </div>
                            </div>
                            <div class="bg-red-700 text-white">
                                <div class="flex">
                                    <div class="h-10 w-10 bg-red-600 flex justify-center items-center">
                                        <i class="fab fa-pinterest"></i>
                                    </div>
                                    <p class="flex justify-center items-center ml-2 font-bold">Pinterest</p>
                                </div>
                            </div>
                            <div class="text-white bg-gradient-to-tr from-red-600 to-blue-500">
                                <div class="flex">
                                    <div class="h-10 w-10 flex justify-center items-center">
                                        <i class="fab fa-instagram"></i>
                                    </div>
                                    <p class="flex justify-center items-center ml-2 font-bold">Instagram</p>
                                </div>
                            </div>
                            <div class="bg-blue-600 text-white">
                                <div class="flex">
                                    <div class="h-10 w-10 bg-blue-500 flex justify-center items-center">
                                        <i class="fab fa-vk"></i>
                                    </div>
                                    <p class="flex justify-center items-center ml-2 font-bold">VKontakte</p>
                                </div>
                            </div>
                            <div class="bg-red-600 text-white">
                                <div class="flex">
                                    <div class="h-10 w-10 bg-red-500 flex justify-center items-center">
                                        <i class="fab fa-youtube"></i>
                                    </div>
                                    <p class="flex justify-center items-center ml-2 font-bold">YouTube</p>
                                </div>
                            </div>
                            <div class="bg-yellow-400 text-white">
                                <div class="flex">
                                    <div class="h-10 w-10 bg-yellow-300 flex justify-center items-center">
                                        <i class="fab fa-snapchat"></i>
                                    </div>
                                    <p class="flex justify-center items-center ml-2 font-bold">Snapchat</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="">
                        <div class="py-2 px-4 bg-white my-5">
                            <h3 class="text-xl mb-3 font-semibold">Subscribe Us</h3>
                            <div class="h-32">
                                <video class="h-full w-full" src="https://www.youtube.com/watch?v=DxcJbrs6rKk"></video>
                            </div>
                        </div>
                        <div class="py-4 px-4 bg-white mb-5">
                            <h3 class="text-xl mb-3 font-semibold">Ad Space</h3>
                            <div class="border border-gray-400 h-60 bg-gray-200 flex items-center justify-center">
                                <p class="text-gray-400">responsive ad</p>
                            </div>
                        </div>
                        <div class="bg-white py-2 px-4 mb-5">
                            <h3 class="text-xl mb-3 font-semibold">Most Popular</h3>
                            <div class="grid gap-3">
                                {% for article in articlesThree %}
                                    <div class=" bg-white">
                                        <div class="flex ">
                                            <div class="h-16 w-1/3">
                                                <img class="h-full w-full object-cover" src="{{ article.img }}" alt="">
                                            </div>
                                            <div class="bg-white pl-5">
                                                <p class="font-bold text-sm">{{ article.title }}</p>
                                                <p class="text-gray-400 text-sm"><i class="far fa-clock mr-1 text-pink-700"></i> {{ article.createdAt | date('d M Y') }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="p-5 bg-white">
                            <h3 class="text-xl mb-3 font-semibold">Categories</h3>
                            <div class="">
                                <div class="py-2 px-5 flex justify-between items-center border-b">
                                    <div class="font-bold text-sm">
                                        <span><i class="far fa-folder mr-1"></i></span>Business
                                    </div>
                                    <div class="text-white py-1 px-3 bg-yellow-500">
                                        4 Posts
                                    </div>
                                </div>
                                <div class="py-2 px-5 flex justify-between items-center border-b">
                                    <div class="font-bold text-sm">
                                        <span><i class="far fa-folder mr-1"></i></span>Health
                                    </div>
                                    <div class="text-white py-1 px-3 bg-green-500">
                                        9 Posts
                                    </div>
                                </div>
                                <div class="py-2 px-5 flex justify-between items-center border-b">
                                    <div class="font-bold text-sm">
                                        <span><i class="far fa-folder mr-1"></i></span>Managing
                                    </div>
                                    <div class="text-white py-1 px-3 bg-blue-500">
                                        1 Posts
                                    </div>
                                </div>
                                <div class="py-2 px-5 flex justify-between items-center border-b">
                                    <div class="font-bold text-sm">
                                        <span><i class="far fa-folder mr-1"></i></span>Technology
                                    </div>
                                    <div class="text-white py-1 px-3 bg-purple-500">
                                        7 Posts
                                    </div>
                                </div>
                                <div class="py-2 px-5 flex justify-between items-center border-b">
                                    <div class="font-bold text-sm">
                                        <span><i class="far fa-folder mr-1"></i></span>Traveling
                                    </div>
                                    <div class="text-white py-1 px-3 bg-red-500">
                                        6 Posts
                                    </div>
                                </div>
                                <div class="py-2 px-5 flex justify-between items-center border-b">
                                    <div class="font-bold text-sm">
                                        <span><i class="far fa-folder mr-1"></i></span>Sport
                                    </div>
                                    <div class="text-white py-1 px-3 bg-indigo-500">
                                        5 Posts
                                    </div>
                                </div>
                                <div class="py-2 px-5 flex justify-between items-center border-b">
                                    <div class="font-bold text-sm">
                                        <span><i class="far fa-folder mr-1"></i></span>Coding
                                    </div>
                                    <div class="text-white py-1 px-3 bg-pink-500">
                                        4 Posts
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
